In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/freeCodeCamp/boilerplate-demographic-data-analyzer/master/adult.data.csv")

In [ ]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

**How many of each race are represented in this dataset?**

In [ ]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

# What is the average age of men?

In [ ]:
df[df["sex"] == "Male"]["age"].mean()

39.43354749885268

In [ ]:
len(df.index)  #Total index

32561

In [ ]:
df[df["native-country"]=="India"]["workclass"].value_counts()   # from india the peoples working in different sectors

Private             70
State-gov           12
Self-emp-not-inc     7
Self-emp-inc         7
Federal-gov          2
Local-gov            2
Name: workclass, dtype: int64

In [ ]:
df['marital-status'].value_counts()   # counts of martial-status

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

# What is the percentage of people who have a Bachelor's degree?

In [ ]:
(len(df[df["education"] == "Bachelors"].index) / len(df.index)) * 100

16.44605509658794

 # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [ ]:
higher_education_rich = (df[df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))]["salary"] == ">50K").sum()  # Count total higher educated rich peoples
higher_education_rich

3486

# percentage with salary >50K

In [ ]:
higher_education_count = len(df[df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))].index)

#count the total number of higher education in these field
print(higher_education_count)

higher_education_rich_per = higher_education_rich
# now calculate the percentage for higher education peoples
(higher_education_rich / higher_education_count) * 100

7491

46.535843011613935

In [ ]:
higher_education_count = len(df[df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))].index)
higher_education_count

7491

In [ ]:
lower_education_rich = (df[~df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))]["salary"] == ">50K").sum()
lower_education_rich

4355

In [ ]:

lower_education_count = len(df[~df["education"].isin(pd.Series(["Bachelors","Masters","Doctorate"]))].index) #count the total number of lower education in these field
print(lower_education_count)

lower_education_rich_per = lower_education_rich # now calculate the percentage for lower education peoples
(lower_education_rich / lower_education_count) * 100

25070

17.3713601914639

 # What is the minimum number of hours a person works per week (hours-per-week feature)?

In [ ]:
df["hours-per-week"].min()

1

**What percentage of the people who work the minimum number of hours per week have a salary of >50K?**

In [ ]:
min_hours_count = len(df[df["hours-per-week"] == df["hours-per-week"].min()].index)
print(min_hours_count)

min_over_50k = (df[df["hours-per-week"] == df["hours-per-week"].min()]["salary"] == ">50K").sum()
print(min_over_50k)

(min_over_50k / min_hours_count) * 100

20
2

10.0

In [ ]:
df[df["salary"] == ">50K"]  # All earning over 50K

       age         workclass  fnlwgt  ... hours-per-week  native-country salary
7       52  Self-emp-not-inc  209642  ...             45   United-States   >50K
8       31           Private   45781  ...             50   United-States   >50K
9       42           Private  159449  ...             40   United-States   >50K
10      37           Private  280464  ...             80   United-States   >50K
11      30         State-gov  141297  ...             40           India   >50K
...    ...               ...     ...  ...            ...             ...    ...
32539   71                 ?  287372  ...             10   United-States   >50K
32545   39         Local-gov  111499  ...             20   United-States   >50K
32554   53           Private  321865  ...             40   United-States   >50K
32557   40           Private  154374  ...             40   United-States   >50K
32560   52      Self-emp-inc  287927  ...             40   United-States   >50K

[7841 rows x 15 columns]

In [ ]:
df[df["salary"] == ">50K"].total()

AttributeError: ignored

In [ ]:
(df[df["salary"] == ">50K"].groupby(["native-country"]))["salary"].count()

native-country
?                      146
Cambodia                 7
Canada                  39
China                   20
Columbia                 2
Cuba                    25
Dominican-Republic       2
Ecuador                  4
El-Salvador              9
England                 30
France                  12
Germany                 44
Greece                   8
Guatemala                3
Haiti                    4
Honduras                 1
Hong                     6
Hungary                  3
India                   40
Iran                    18
Ireland                  5
Italy                   25
Jamaica                 10
Japan                   24
Laos                     2
Mexico                  33
Nicaragua                2
Peru                     2
Philippines             61
Poland                  12
Portugal                 4
Puerto-Rico             12
Scotland                 3
South                   16
Taiwan                  20
Thailand                 3
Trinadad&Tobago          2
United-States         7171
Vietnam                  5
Yugoslavia               6
Name: salary, dtype: int64

# What country has the highest percentage of people that earn >50K?

In [ ]:
rich_percentage_per_country = ((df[df["salary"] == ">50K"].groupby("native-country"))["salary"].count() / df.groupby("native-country")["salary"].count()) * 100

In [ ]:
rich_percentage_per_country

native-country
?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: salary, dtype: float64

In [ ]:
rich_percentage_per_country.max()

41.86046511627907

 # Identify the most popular occupation for those who earn >50K in India.

In [ ]:
top_IN_occupation = (df[df["native-country"] == "India"].groupby("occupation"))["occupation"].count().idxmax()
top_IN_occupation

'Prof-specialty'